
// 采用绝对定位
// .arrow_right_semiangle {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   &::before{
//     content: '';
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 60px;
//     height: 2px;
//     background: #ccc;
//   }
//   &::after{
//     content: '';
//     position: absolute;
//     left: 60px;
//     bottom: -2px;
//     border-bottom: 10px solid #ccc;
//     border-right: 10px solid transparent;
//   }
// }

// 采用flex
$width: 0.1rem;
// 向右半角箭头
.arrow-right-semiangle {
  width: $width;
  display: flex;

  &::before {
    content: '';
    width: 0.7rem;
    height: 0.2rem;
    border-bottom: 0.1rem solid #ccc;
  }

  &::after {
    content: '';
    border-bottom: 0.3rem solid #ccc;
    border-right: 0.3rem solid transparent;
  }
}
// 向右三角箭头
.arrow-right-triangle {
  width: $width;

  &::before {
    content: '';
    float: left;
    width: 7rem;
    height: 1rem;
    border-bottom: 1rem solid #ccc;
  }

  &::after {
    content: '';
    float: right;
    border-top: 1.5rem solid transparent;
    border-left: 3rem solid #ccc;
    border-bottom: 1.5rem solid transparent;
  }
}

$height: 0.83rem;
// 向上三角箭头
.arrow-up-triangle {
  height: $height;
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    border-bottom: 0.2rem solid #ccc;
    border-left: 0.1rem solid transparent;
    border-right: 0.1rem solid transparent;
  }

  &::after {
    content: '';
    width: 0.08rem;
    height: 0.73rem;
    border-right: 0.03rem solid #ccc;
  }
}

// 向下三角箭头
.arrow-down-triangle {
  height: $height;
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    width: 0.08rem;
    height: 0.73rem;
    border-right: 0.03rem solid #ccc;
  }

  &::after {
    content: '';
    border-top: 0.2rem solid #ccc;
    border-left: 0.1rem solid transparent;
    border-right: 0.1rem solid transparent;
  }
}