<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>input</title>
		<style type="text/css">
			span{
				background: red;
				margin:10px;
				display:inline-block;
				width:20px;
			}
		</style>
	</head>
	<body>
		<input id='num-input' type="text">
		<input type="button" value='左侧入' onclick="myFunc(1)"/>
		<input type="button" value='右侧入' onclick="myFunc(2)"/>
		<input type="button" value='左侧出' onclick="myFunc(3)"/>
		<input type="button" value='右侧出' onclick="myFunc(4)"/>
		<input type="button" value='排序' onclick="myFunc(5)"/>
		<div id='queue'></div>
		<script type="text/javascript">
			function myFunc(n){
				var num=document.getElementById('num-input');
				var value=num.value;
				if (value==""){
					alert('请输入需要插入的值');
				}else if(isNaN(value)){
					alert('只能输入数字');
				}else if(value>100||value<10){
					alert('请输入10-100以内的数字');
				}else if(n!=5){
					var queue=document.getElementById('queue');
					if(queue.innerText.length>60) {
						alert('队列元素数量最多限制为60个');
					}else{
						var span=document.createElement('span');
						span.style.height=value+'px';
						if(n==1){
							var node=document.getElementById("queue").firstElementChild;
							queue.insertBefore(span,node);
						}else if(n==2){
							queue.appendChild(span);
						}else if(n==3){
							queue.firstElementChild.remove();
						}else if(n==4){
							queue.lastElementChild.remove();
						}
					}
				}else{
					var spans=document.getElementsByTagName('span');
					for(var i=0;i<spans.length;i++){
						for(var j=0;j<spans.length-i-1;j++){
							var spanValue1=spans[j].style.height.substring(0,spans[j].style.height.length-2) ;
						    var spanValue2=spans[j+1].style.height.substring(0,spans[j+1].style.height.length-2) ;
							if(parseInt(spanValue1)>parseInt(spanValue2) ){
								var temp=spans[j].style.height ;
								spans[j].style.height=spans[j+1].style.height ;
								spans[j+1].style.height =temp;
							}
						}
					}	
				}
			}
		</script>
	</body>
</html>