.wrapper{
    height:100vh;
    overflow: hidden;
    position: relative;
}
.box{
    -webkit-transform: translateY(-10vh);
}
.header{
    background: #ccc;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.main{
    background: rgb(122, 172, 248);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
 
/*绘制圆点*/
.sk-fading-circle{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 350px;
  }
  .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;/*8%*/
    height: 15%;/*25%*/
    background-color: #333;
    border-radius: 100%;/**/
  }
  /*[class~=sk-circle2]{
      transform: rotate(60deg);
  }*/
  /*分散开12个小圆点*/
  .sk-fading-circle .sk-circle2 { transform: rotate(30deg);}
  .sk-fading-circle .sk-circle3 { transform: rotate(60deg);}
  .sk-fading-circle .sk-circle4 { transform: rotate(90deg);}
  .sk-fading-circle .sk-circle5 { transform: rotate(120deg);}
  .sk-fading-circle .sk-circle6 { transform: rotate(150deg);}
  .sk-fading-circle .sk-circle7 { transform: rotate(180deg);}
  .sk-fading-circle .sk-circle8 { transform: rotate(210deg);}
  .sk-fading-circle .sk-circle9 { transform: rotate(240deg);}
  .sk-fading-circle .sk-circle10 { transform: rotate(270deg);}
  .sk-fading-circle .sk-circle11 { transform: rotate(300deg);}
  .sk-fading-circle .sk-circle12 { transform: rotate(330deg);}

  /*褪色动画*/
  @-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  @keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
  }
  .sk-fading-circle .sk-circle:before {
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  }
  /*错开12个小圆点褪色时间*/
  .sk-fading-circle .sk-circle2:before { animation-delay: -1.1s; }
  .sk-fading-circle .sk-circle3:before { animation-delay: -1s; }
  .sk-fading-circle .sk-circle4:before { animation-delay: -0.9s; }
  .sk-fading-circle .sk-circle5:before { animation-delay: -0.8s; }
  .sk-fading-circle .sk-circle6:before { animation-delay: -0.7s; }
  .sk-fading-circle .sk-circle7:before { animation-delay: -0.6s; }
  .sk-fading-circle .sk-circle8:before { animation-delay: -0.5s; }
  .sk-fading-circle .sk-circle9:before { animation-delay: -0.4s; }
  .sk-fading-circle .sk-circle10:before { animation-delay: -0.3s; }
  .sk-fading-circle .sk-circle11:before { animation-delay: -0.2s; }
  .sk-fading-circle .sk-circle12:before { animation-delay: -0.1s; }

  .completed_icon{
      // background-image: url("./Gou.png");
      position: absolute;
      left: 350px;
      display: flex;
      top: 70px
      // width: 20px;
      // height: 20px;
  }

//   .completed_icon{ display: flex; justify-content:center;align-items:center;width: 10px;height:5px; background: gray;line-height: 0;font-size:0;vertical-align: middle;-webkit-transform: rotate(45deg);}
//   .completed_icon:after{content:'/';display:block;width: 20px;height:5px; background: gray;-webkit-transform: rotate(-90deg) translateY(-50%) translateX(20%);}

.pullArrow{
  position: absolute;
  left: 370px;
  &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 35px;
      background: gray;
  }
  &:after{  
      width: 0;
      height: 0;
      content: '';
      position: absolute;
      left: -6px;
      top: 29px;
      
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 16px solid gray;   
  }
}
.pushArrow{
    position: absolute;
    left: 370px;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 35px;
        background: gray;
    }
    &:after{  
        width: 0;
        height: 0;
        content: '';
        position: absolute;
        left: -8px;
        top: -16px;
        
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 16px solid gray;   
    }
  }
// .pushArrow{
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   &:before{
//       content: '';
//       position: absolute;
//       left: 0;
//       top: 0;
//       width: 2.2rem;
//       height: 1px;
//       background: green;
//   }
//   &:after{
//       content: '';
//       position: absolute;
//       left: 2.2rem;
//       bottom: -1px;
//       border-bottom: .2rem solid green;
//       border-right: .2rem solid transparent;
//   }
// }