*{
    margin: 0;
    padding: 0;
}
.header{
    background: #8f4586;
    height:100px;
}
.main{
    background: rgb(85, 85, 247);
    /* 上面固定 下面自适应 */
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
}
.search{
    background: white;
    margin: 20px 15px 10px;
}
.search-city{
    padding: 0 3em;
    display: flex;
    border: 1px solid gray; 
    height: 5rem;
    line-height: 5em;
}
.search-city div{
    flex: 1;
    font-size: 2em;
    text-align: center;
}
.btn{
    margin: 1.4rem 1rem 1.25rem;
    background: orange;
    text-align: center;
    font-size: 2em;
    height: 5rem;    line-height: 2.5em;
}