.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: -webkit-fit-content;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 30px;
  border-radius: 8px;
  // animation-name: MoveOut;
  // overflow: hidden;
  // animation-duration: 0.3s;

  .content {
    margin-left: 20px;
  }
}

// @keyframes MoveOut {
//   0% {
//     opacity: 1;
//     padding: 20px;
//   }

//   100% {
//     opacity: 0;
//     padding: 0;
//   }
// }
