@import "../Adaptation/style.scss";

.grid {
  background: #bbada0;
  margin: 0.5rem auto;
  padding: 0.375rem;
  width: 7rem;
  border-radius: 0.16rem;

  .row {
    display: flex;
    margin-bottom: 0.2rem;
    justify-content: space-between;

    .tr-container {
      position: relative;
      overflow: hidden;
      width: 1.54rem;
      height: 1.54rem;
    }

    .cell {
      width: 1.54rem;
      height: 1.54rem;
      border-radius: 0.08rem;
      background: rgba(238, 228, 218, 0.35);
    }

    .tile {
      @include font-dpr(50px);

      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 1.54rem;
      height: 1.54rem;
      border-radius: 0.08rem;
      line-height: 1.54rem;
      color: #f9f6f2;
      text-align: center;
      font-weight: bold;
      box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
      transform: translate(0, 0);
      transition: 100ms ease-in-out;
      transition-property: transform;
    }

    .tile-2 {
      background: #eee4da;
      color: #776e65;
    }

    .tile-4 {
      background: #ede0c8;
      color: #776e65;
    }

    .tile-8 {
      background: #f2b179;
    }

    .tile-16 {
      background: #f59563;
    }

    .tile-32 {
      background: #f67c5f;
    }

    .tile-64 {
      background: #f65e3b;
    }

    .tile-128 {
      background: #edcf72;
      font-size: 45px;
    }

    .tile-256 {
      font-size: 45px;
      background: #edcc61;
    }

    .tile-512 {
      font-size: 45px;
      background: #edc850;
    }

    .tile-1024 {
      background: #edc53f;
      font-size: 35px;
    }

    // @for $i from 0 through 3 {
    //   .X-#{$i} { transform: translateX(1.74rem * $i); }
    // }

    // @for $j from 0 through 3 {
    //   .Y-#{$j} { transform: translateY(1.74rem * $j); }
    // }
  }
}

.wrapper {
  .game-over {
    @include font-dpr(40px);

    position: absolute;
    top: 4rem;
    left: 3rem;
    background: orangered;
    color: white;
    text-align: center;
  }
}
