<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			.main,.left,.right { float:left;  height:200px; } 
			.main { width:100%;  background:#ace; }
			.left { width:20%; background:#eee; }
			.right { width:30%; background:#ddd; }
			.left { width:20%; background:#eee; margin-left:-100%; }    
			.right { width:30%; background:#ddd; margin-left:-30%; } 
			.mainIn{
				margin:0 30% 0 20%;
			}
		</style>
	</head>
	<body>
		<div class="wrap">
		<div class="main"><div class="mainIn">main</div></div>
		<div class="left">left</div>
		<div class="right">right</div>
	</body>
</html>