.pagination {
  display: flex;

  @mixin pageItem ($background, $border) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: $background;
    border: $border  solid  black;
    font-size: 4rem;
  }

  .pageItem {
    @include pageItem(white, 1px);
  }

  .points {
    @include pageItem(#ccc, 0);
  }

  .current {
    background: blue;
  }
}

