*{
    margin: 0;
    padding: 0;
}
h1, h2{
    text-align: center;
}
p{
    background:orange;
}
p.cl1{
    font-size:20px;
    padding: 10px;
    margin: 10px;
}
div.cl2{
    line-height: 14px;
    font-size:13px;
    width: 300px;
}
p.cl2-1{
    margin: 1em;
    padding: 1em;
}
div p{
    margin-bottom: 1em;
}
p.cl3-1{
    width: 200px;
    margin-left: 1em;
}
p.cl3-2{
    width: 200px;
    margin-left: 1em;
    /* 此时会把margin-right强制为auto */
    margin-right: 1em;
}
p.cl3-3{
    width: 200px;
    /* 水平居中 */
    margin-left: auto;
    margin-right: auto;
}
p.cl3-4{
    /* 默认外边距为0, width为auto */
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
div.cl4{
    width: 400px;
    border: 3px solid black;
}
p.cl4-1{
    margin-left: 10px;
    width: auto;
    margin-right: -50px;
}
p.cl4-2{
    margin-left: 10px;
    width: 500px;
    margin-right: auto;
    border: 3px solid gray;
}
ul.cl5-1{
    margin-bottom: 15px;
}
li{
    margin-top: 10px;
    margin-bottom: 20px;
    background: gold
}
span.cl5-2{
    margin-top: 28px;
    border: 1px solid gray;
}