.success,
.error {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  border: 2px solid #333;
  background: #fff;
  border-radius: 25px;
  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 28px;
    width: 4px;
    background: #333;
    border-radius: 10px;
  }
}

.success::after,
.success::before {
  top: 0;
  left: 10px;
  transform: rotate(45deg);
  height: 14px;
  width: 2px;
}
.success::before {
  top: 7px;
  left: 4px;
  transform: rotate(-45deg);
  height: 6px;
}

.error::before,
.error::after {
  top: 7px;
  left: 2px;
  transform: rotate(-45deg);
  height: 2px;
  width: 12px;
}
.error::after {
  transform: rotate(45deg);
}

.warning::before {
  content: '!';
  height: 0;
  width: 0;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  border: transparent solid;
  border-bottom-color: #fff;
  border-width: 0 10px 20px 10px;
  color: #333;
  font-family: Verdana;
  font-weight: bold;
  font-size: 15px;
  line-height: 23px;
  text-indent: -3px;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}
@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}
@mixin pip {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  &::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-circleFadeDelay 0.8s infinite ease-in-out both;
  }
}
.loading {
  width: 20px;
  height: 20px;
  position: relative;

  @for $i from 0 to 9 {
    .pip#{$i} {
      @include pip;
      $transform: #{45 * $i}deg;

      transform: rotate($transform);

      &::before {
        $animation-delay: $i/10 - 8/10;

        animation-delay: #{$animation-delay}s;
      }
    }
  }
}