/* div.text p{
    background: orange;
    color:green;
    padding:10px;
    border:1px solid;
    width:500px;
    margin-right:auto;
    margin-left:10px;
}
div.text{
    background: blue;
    width:400px;
}
span.raise{
    vertical-align: super;
}
span.lower{
    vertical-align: sub;
} */

p.textIndent1{
    text-indent: 2em;
    width:400px;
}
h1.m{
    text-align:center;
    margin-top:20px;
    width:400px;
}

p.textIndent2{
    text-indent: -2em;
    width:400px;
    padding-left:2em;
}