.container{
    width:100vw;
    height:100vh;
    display: flex;
}
.toast{
    margin:auto;
    padding:0 4vw;
    width:-webkit-fit-content;
    display:flex;
    align-items:center;
    justify-content:center;
    height:54px;
    font-family: PingFangSC-Medium;
    letter-spacing: 0;
    font-size: 15px;
    border-radius: 4px;
    background:rgba(0,0,0,0.80);
    color: #FFFFFF;
}